In [4]:
##types of arguments
#positional arguments
#keyword arguments
#default arguments
#variable lengths of positional arguments
#variable lengths of keyword arguments


#positional arguments
# subtraction of two numbers using functions
def sub (x,y):
    res = x-y
    return res
a = int(input())
b = int(input())   ##a,b =10,20
print(sub(a,b))
print(sub(b,a))

 10
 20

-10
10

In [6]:
##keyword arguments
##multiplication os two numbers
a = int(input("enter a number 1:"))
b= int(input("enter a number 2:"))
def multiplication(n1,n2):
    res = n1  * n2
    return res
print (multiplication (n1=a,n2=b))
print(multiplication(n2=b,n1=a))

enter a number 1: 22
enter a number 2: 44

968
968

In [8]:
##sum of 2,3,and 4 numbers using functions
##practice  problems
#sum of two numbers using functions
def sum_of_two_numbers(n1,n2):
    res=n1+n2
    return res
res = sum_of_two_numbers(40,30)
print(res)

70

In [11]:
##sum of three numbers using functions
a=20
b=42
c=55
def sum_of_three_numbers(n1,n2,n3):
    res =n1+n2+n3
    return res
res = sum_of_three_numbers(30,30,40)
print(res)

100

In [15]:
##sum of four numbers using functions

a=int(input("enter a number of 1:"))
b=int(input("enter the number 2:"))
c=int(input("enter the number of three:"))
d=int(input("enter the number if four:"))
def adding_four_numbers(t1,t2,t3,t4):
    res=t1+t2+t3+t4
    return res
res =adding_four_numbers(a,b,c,d)
print(res)

enter a number of 1: 12
enter the number 2: 23
enter the number of three: 34
enter the number if four: 13

82

In [16]:
##list properties
#list elements by using index positions
lst =[1,2,34,"phani",10.0,"hlo"]
print(lst[2])
print(lst[-3])
print(lst[1:])

34
phani
[2, 34, 'phani', 10.0, 'hlo']

In [17]:
##list is mutable 
lst =[65,35,163,"hiiiii", "phani"]
lst[0]="sammaiah"
print(lst)

['sammaiah', 35, 163, 'hiiiii', 'phani']

In [18]:
#string is immutable
u ="phani"
u[2]="a"
print(u)

TypeError: 'str' object does not support item assignment

In [21]:
#reading list of elements from user
l = list(map(int,input().split()))
print(type(l), l)

 22 33 33

<class 'list'> [22, 33, 33]

In [28]:
##nested list elements access
lst = [1,23,12,34,45,[12,3,44,["a","b","c"]],"helloooo"]
print(lst[6])
print(lst[5][1])
print(lst[5][3][2])

helloooo
3
c

In [30]:
#reading list of elements from user
l=list(map(int,input().split(",")))
print(type(l),l)

 11 33 444

ValueError: invalid literal for int() with base 10: '11 33 444'

In [34]:
l=list(map(int,input().split()))
print(type(l),l)

 abc

ValueError: invalid literal for int() with base 10: 'abc'

In [36]:
###checking even or odd 
def even_or_odd(num):
    if num % 2:
        return "even"
    else:
        return "odd"
a = int(input("enter a number"))
res=even_or_odd(a)
print(res)

enter a number 5

even

In [39]:
####find the string length without using len()
string = input("enter a string:")
count = 0
for each in string:
    count+=1
    print(count)

enter a string: phani

1
2
3
4
5